*.iml
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar


/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/target
/.idea
/src/main/resources/static/bower_components
FindMyPromotion.iml


/bin/
